<div class="vehicle-selection">
    <h1>OFFICE PARKING</h1>
    <div class="vehicle-options">
      <div class="icon" (click)="navigateTo('bike-parking')" title="Bike Parking">
        <img src="assets/bike-icon.png" alt="Bike Icon" />
        <p>BIKE PARKING</p>
      </div>
      <div class="icon" (click)="navigateTo('car-parking')" title="Car Parking">
        <img src="assets/car-icon.png" alt="Car Icon" />
        <p>CAR PARKING</p>
      </div>
      <div class="icon" (click)="navigateTo('other-vehicle')" title="Other Vehicles">
        <img src="assets/others-icon.png" alt="Other Vehicles Icon" />
        <p>OTHERS</p>
      </div>
    </div>
  </div>
  